// Import bootstrap (main + our components)
@import "bootstrap/bootstrap";

// Import font Lora
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=cyrillic,latin);

// Our modules
@import "app/scaffolding";

html,
body {
  height: 100%;
}

.content {
  height: 100%;
}

.page-landing {
  ui-view {
    display: block;
    background: #fff;
    position: relative;
  }
}

map.landing-map {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page-dashboard {
  padding-bottom: 20rem;
}

.list-repeat-inline {
  &:after {
    content: ", ";
  }

  &:last-child {
    &:after {
      content: "";
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  color: $font-color-heading;
}

// TODO create separate directive for maps
map {
  z-index: 0;
}

// hide html5 number controls
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}