<ui-view>
  <section class="page-park" ng-controller="ParkIdCtrl as park">
    <section ng-if="park.fbLoading">
      loading park
    </section>
    <section ng-if="!park.fbLoading">
      <map class="park-map" center="{{park.details.address.lat}}, {{park.details.address.lon}}" zoom="14" scrollwheel="false" draggable="false">
        <marker position="[{{park.details.address.lat}}, {{park.details.address.lon}}]"></marker>
      </map>

      <div class="container">
        <div class="col-sm-3">
          <div class="panel panel-default" ng-controller="AuthCtrl as auth">
            <div class="panel-heading">
              О парках
            </div>
            <div class="panel-body" ng-if="!auth.user.uid">
              <form ng-submit="auth.send()">
                <p class="alert alert-danger" ng-show="auth.status == 'error'">
                  {{auth.code}}
                </p>
                <div ng-show="auth.status != 'queued' && !auth.user.code">
                  <h5 class="text-center">Давайте знакомиться</h6>

                  <div class="form-group" ng-show="auth.status != 'queued' && !auth.user.code">
                    <input type="tel" class="form-control" ng-model="auth.user.phone" placeholder="Ваш номер телефона">
                  </div>

                  <button type="submit" class="btn btn-primary btn-block" ng-show="auth.status != 'queued' && !auth.user.code">Получить SMS</button>
                </div>

                <div ng-show="auth.status == 'queued' || auth.user.code">
                  <h5 class="text-center" >Ваш номер телефона</h6>
                  <h3 class="text-center" ng-show="auth.status == 'queued' || auth.user.code">{{auth.user.phone}}</h3>
                  <div class="form-group" ng-show="auth.status == 'queued' || auth.user.code">
                    <input type="text" class="form-control" ng-model="auth.user.code" placeholder="Введите код из SMS" require>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block" ng-show="auth.status == 'queued' || auth.user.code">Введите код из SMS</button>
                </div>
              </form>
            </div>

            <div class="panel-body" ng-if="auth.user.uid">
              <h5 class="text-center">Мои парки</h5>

              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">14</span>
                  Парк победы
                </li>
              </ul>

              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">99%</span>
                  Мой профиль
                </li>
              </ul>

              <p class="text-center" ng-click="auth.logout()">Выйти</p>
            </div>
          </div>
        </div>

        <div class="col-sm-9">
          <a ui-sref="landing">Карта с парками</a>
          <h2>{{park.details.name}}</h2>

          <p>{{park.details.description}}</p>

          <div class="well">
            <a ui-sref="parks.id.survey({ formId: park.details.formId })" class="btn btn-primary btn-lg btn-block">Пройти опрос</a>
          </div>

<!--           <div class="well">
            <h4>Ваш прогресс</h4>

            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;">
                60%
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block">Продолжить</button>
          </div>
 -->
          <img ng-src="{{park.details.image}}" class="img-responsive" alt="">
        </div>
      </div>
    </section>
  </section>
</ui-view>