<section class="page-park" ng-controller="ParkIdCtrl as park">
  <section ng-if="park.fbLoading">
    loading park
  </section>
  <section ng-if="!park.fbLoading">
    <map class="park-map" center="{{park.details.address.lat}}, {{park.details.address.lon}}" zoom="14" scrollwheel="false" draggable="false">
      <marker position="[{{park.details.address.lat}}, {{park.details.address.lon}}]"></marker>
    </map>

    <div class="container">
      <div class="col-sm-3" ng-include="'/views/users/sidebar.html'"></div>

      <div class="col-sm-9">
        <ui-view>
          <a ui-sref="landing">Карта с парками</a>
          <h2>{{park.details.name}}</h2>

          <p>{{park.details.description}}</p>

          {{(park.getCount(park.surveys[park.surveyId].answers) / (park.getCount(park.forms[park.surveys[park.surveyId].formId].questions)) * 100 | floor)}}%

          <div class="well">
            <a ui-sref="parks.id.survey({ formId: park.details.formId })" class="btn btn-primary btn-lg btn-block">Пройти опрос</a>
          </div>

  <!--           <div class="well">
            <h4>Ваш прогресс</h4>

            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;">
                60%
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block">Продолжить</button>
          </div>
  -->
          <img ng-src="{{park.details.image}}" class="img-responsive" alt="">
        </ui-view>
      </div>
    </div>
  </section>
</section>