<div class="authorisation">
    <form ng-if="state === 'authentication'">
        <div class="form-group">
            <label for="phoneNumber">Давайте знакомиться:</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="Ваш номер телефона">
        </div>

        <button type="submit" class="btn btn-default form-control">Получить SMS</button>
    </form>

    <form ng-if="state === 'authorisation'">
        <div class="form-group">
            <label for="">Ваш номер:</label>
            <p class="user-phone-number">+7 1234567892</p>
            <input type="text" class="form-control" id="smsCode" placeholder="Пароль из SMS">
        </div>

        <button type="submit" class="btn btn-default form-control">Войти</button>

        <a href="">Ввести другой номер</a>
    </form>
</div>